/* ======================= VARIABLES ====== */
@font-face {
  font-family: "RobotoCondensed";
  src: fonts/RobotoCondensed;
}
/* line 25, ../scss/styles.scss */
body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

/* line 1, ../scss/_header.scss */
.header {
  align-items: center;
  display: inline-flex;
}
/* line 5, ../scss/_header.scss */
.header .for-mobile {
  display: none;
}
/* line 9, ../scss/_header.scss */
.header img {
  width: 225px;
}
/* line 12, ../scss/_header.scss */
.header ul {
  display: inline-flex;
  width: 100%;
}
/* line 15, ../scss/_header.scss */
.header ul li {
  margin-left: 40px;
}
/* line 19, ../scss/_header.scss */
.header .userLogin {
  margin-left: 30px;
  font-size: 30px;
  color: #dedcdc;
}

@media only screen and (max-width: 840px) {
  /* line 28, ../scss/_header.scss */
  .header .for-pc {
    display: none;
  }
  /* line 32, ../scss/_header.scss */
  .header .for-mobile {
    display: block;
  }
  /* line 36, ../scss/_header.scss */
  .header .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #058305;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /* line 48, ../scss/_header.scss */
  .header .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 46px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
  }
  /* line 58, ../scss/_header.scss */
  .header .sidebar .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  /* line 67, ../scss/_header.scss */
  .header .sidebar ul {
    flex-direction: column;
    line-height: 1.5em;
    color: white;
    font-size: 24px;
  }
  /* line 77, ../scss/_header.scss */
  .header img {
    margin: auto;
    width: 100%;
  }
  /* line 82, ../scss/_header.scss */
  .header i.fa-bars {
    font-size: 36px;
    color: #058305;
  }
}
/* line 1, ../scss/_footer.scss */
.footer-inner {
  display: flex;
  flex-wrap: wrap;
}
/* line 5, ../scss/_footer.scss */
.footer-inner .footer-list {
  width: calc(100%/4);
  color: #535353;
}
/* line 9, ../scss/_footer.scss */
.footer-inner .footer-list .footer-intro .description {
  text-align: justify;
}
/* line 14, ../scss/_footer.scss */
.footer-inner .footer-list .footer-social img {
  width: 40px;
  margin-right: 20px;
  filter: grayscale(100%);
}
/* line 19, ../scss/_footer.scss */
.footer-inner .footer-list .footer-social img:hover {
  filter: none;
}
/* line 25, ../scss/_footer.scss */
.footer-inner .footer-list .footer-list-category {
  line-height: 2.5em;
  padding-left: 20px;
}
/* line 29, ../scss/_footer.scss */
.footer-inner .footer-list .footer-list-category a {
  text-decoration: none;
  color: black;
}
/* line 35, ../scss/_footer.scss */
.footer-inner .footer-list .footer-contact {
  line-height: 2.5em;
  padding-left: 20px;
}
/* line 40, ../scss/_footer.scss */
.footer-inner .footer-list .footer-contact-item {
  width: 100%;
  display: inline-block;
}
/* line 44, ../scss/_footer.scss */
.footer-inner .footer-list .footer-contact-item .fa {
  width: 20px;
  margin-right: 20px;
}
/* line 50, ../scss/_footer.scss */
.footer-inner .footer-list h1 {
  padding-top: 70px;
  line-height: 1.2em;
  text-align: justify;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-bottom: 3px solid #058305;
  display: inline-block;
}

@media only screen and (max-width: 840px) {
  /* line 63, ../scss/_footer.scss */
  .footer-inner {
    display: block;
  }
  /* line 66, ../scss/_footer.scss */
  .footer-inner .footer-list {
    width: 100%;
  }
  /* line 69, ../scss/_footer.scss */
  .footer-inner .footer-list .footer-contact {
    padding-left: 0;
  }
}
/* line 2, ../scss/_search_box.scss */
section.search-box {
  position: relative;
}
/* line 5, ../scss/_search_box.scss */
section.search-box .search-image-block_cover {
  background: url("../images/hinh_6.jpg") center center no-repeat;
  height: 450px;
  background-size: cover;
  opacity: 0.8;
}
/* line 11, ../scss/_search_box.scss */
section.search-box .search-inner {
  width: 70%;
  height: 200px;
  background: #ffffff;
  margin: auto;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 23, ../scss/_search_box.scss */
section.search-box .search-inner form {
  margin-top: 55px;
}
/* line 27, ../scss/_search_box.scss */
section.search-box .search-input {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  height: 40px;
}
/* line 34, ../scss/_search_box.scss */
section.search-box .search-input input:focus {
  outline: none;
}
/* line 38, ../scss/_search_box.scss */
section.search-box .search-input input {
  width: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px solid #058305;
  padding-left: 15px;
}
/* line 45, ../scss/_search_box.scss */
section.search-box .search-input button:hover {
  opacity: 0.8;
}
/* line 49, ../scss/_search_box.scss */
section.search-box .search-input button {
  width: 25%;
  background: #058305;
  border-radius: 0 10px 10px 0;
  border: 1px solid #058305;
  cursor: pointer;
  color: #fff;
}
/* line 58, ../scss/_search_box.scss */
section.search-box .search_advance {
  display: flex;
}
/* line 61, ../scss/_search_box.scss */
section.search-box .search_advance .search_advance_item {
  margin: auto;
  font-weight: bold;
}
/* line 66, ../scss/_search_box.scss */
section.search-box .search_advance .search_advance_item:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  left: 10px;
  top: -9px;
  position: relative;
  border: 2px solid;
  border-color: #058305 #058305 transparent transparent;
  transform: translateY(50%) rotate(135deg);
}
/* line 80, ../scss/_search_box.scss */
section.search-box .for-mobile {
  display: none;
}

@media only screen and (max-width: 840px) {
  /* line 87, ../scss/_search_box.scss */
  .for-pc {
    display: none !important;
  }

  /* line 92, ../scss/_search_box.scss */
  section.search-box .for-mobile {
    display: block;
  }

  /* line 97, ../scss/_search_box.scss */
  .search-box.container {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 101, ../scss/_search_box.scss */
  .search-box.container .search-image-block_cover {
    height: 350px;
  }
  /* line 105, ../scss/_search_box.scss */
  .search-box.container .search_advance {
    flex-wrap: wrap;
    display: flex;
  }
  /* line 109, ../scss/_search_box.scss */
  .search-box.container .search_advance .search_advance_item {
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
  }
  /* line 116, ../scss/_search_box.scss */
  .search-box.container .search-inner {
    width: 90%;
  }
  /* line 119, ../scss/_search_box.scss */
  .search-box.container .search-inner form {
    margin-top: 35px;
  }
  /* line 122, ../scss/_search_box.scss */
  .search-box.container .search-inner form .search-input {
    margin-bottom: 15px;
  }
  /* line 127, ../scss/_search_box.scss */
  .search-box.container .search-inner .search-option {
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* line 137, ../scss/_search_box.scss */
  .search-box.container .search-inner .search-option label {
    border: 1px solid #058305;
    padding: 5px 10px;
    color: white;
  }
  /* line 143, ../scss/_search_box.scss */
  .search-box.container .search-inner .search-option .buy-option {
    border-radius: 10px 0 0 10px;
    background-color: #058305;
  }
  /* line 148, ../scss/_search_box.scss */
  .search-box.container .search-inner .search-option .rent-option {
    border-radius: 0 10px 10px 0;
    color: #058305;
  }
  /* line 153, ../scss/_search_box.scss */
  .search-box.container .search-inner .search-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
/* line 2, ../scss/_article_block.scss */
.article-block .for-mobile {
  display: none;
}
/* line 6, ../scss/_article_block.scss */
.article-block .article-title {
  font-size: 1.5em;
  border-bottom: 3px solid #058305;
  display: inline-block;
}
/* line 11, ../scss/_article_block.scss */
.article-block .article-list {
  display: flex;
  flex-wrap: wrap;
}
/* line 15, ../scss/_article_block.scss */
.article-block .article-list .article-item-inner {
  padding: 10px;
  background: #f7f7f9;
}
/* line 21, ../scss/_article_block.scss */
.article-block .article-list .article-item:nth-of-type(4n) {
  margin: 0 0 30px 0;
}
/* line 25, ../scss/_article_block.scss */
.article-block .article-list .article-item {
  margin: 0 30px 30px 0;
  width: calc((100% - 90px)/4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* line 31, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-pic {
  position: relative;
  height: 200px;
}
/* line 35, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-pic span {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 20px;
  background-color: #058305;
  color: white;
}
/* line 44, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-pic:hover {
  opacity: 0.7;
}
/* line 49, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-title {
  opacity: 0.7;
  line-height: 1.2em;
  text-align: justify;
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 57, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-info {
  margin-bottom: 10px;
}
/* line 60, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-info sup {
  vertical-align: super;
  font-size: 70%;
}
/* line 64, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-info .article-item-info__acreage {
  font-weight: bold;
}
/* line 68, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-info .article-item-info__district {
  float: right;
  color: #058305;
}
/* line 74, ../scss/_article_block.scss */
.article-block .article-list .article-item a {
  text-decoration: none;
  color: inherit;
}
/* line 79, ../scss/_article_block.scss */
.article-block .article-list .article-item .article-item-icon {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  opacity: 0.7;
}
/* line 87, ../scss/_article_block.scss */
.article-block .article-list .article-item .item-icon-content img {
  height: 20px;
  width: 20px;
}

/* line 96, ../scss/_article_block.scss */
.show-all-btn {
  text-align: center;
}
/* line 99, ../scss/_article_block.scss */
.show-all-btn p {
  font-size: 1.5em;
  display: inline-block;
  border: 1px solid #058305;
  border-radius: 10px;
  padding: 10px;
  color: #058305;
  width: 150px;
}
/* line 108, ../scss/_article_block.scss */
.show-all-btn p:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  border: 2px solid;
  border-color: #058305 #058305 transparent transparent;
  transform: translateX(50%) rotate(45deg);
}
/* line 119, ../scss/_article_block.scss */
.show-all-btn p:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media only screen and (max-width: 840px) {
  /* line 128, ../scss/_article_block.scss */
  .article-block .for-pc {
    display: none;
  }
  /* line 132, ../scss/_article_block.scss */
  .article-block .for-mobile {
    display: block;
  }
  /* line 136, ../scss/_article_block.scss */
  .article-block .article-item {
    width: 100% !important;
    margin-right: 0 !important;
    display: none;
  }
  /* line 141, ../scss/_article_block.scss */
  .article-block .article-item:nth-of-type(-n+2) {
    display: block;
  }
  /* line 146, ../scss/_article_block.scss */
  .article-block .extend-btn {
    text-align: center;
  }
  /* line 149, ../scss/_article_block.scss */
  .article-block .extend-btn p {
    font-size: 1.5em;
    display: inline-block;
    border: 1px solid #058305;
    border-radius: 10px;
    padding: 10px;
    color: #058305;
    width: 150px;
  }
  /* line 158, ../scss/_article_block.scss */
  .article-block .extend-btn p:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    top: -5px;
    left: 2px;
    border: 2px solid;
    border-color: #058305 #058305 transparent transparent;
    transform: translateX(50%) rotate(135deg);
  }
  /* line 171, ../scss/_article_block.scss */
  .article-block .extend-btn p:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
/* line 1, ../scss/_link_block.scss */
.link-block {
  display: flex;
}
/* line 4, ../scss/_link_block.scss */
.link-block .link-list {
  width: 100%;
  display: inline-flex;
}
/* line 8, ../scss/_link_block.scss */
.link-block .link-list .link-item {
  display: flex;
  padding: 10px;
  margin: 0 20px 0 0;
  cursor: pointer;
  width: calc((100% - 60px)/4);
  border: 1px solid #058305;
  background: #058305;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* line 18, ../scss/_link_block.scss */
.link-block .link-list .link-item:nth-of-type(4n) {
  margin: 0;
}
/* line 22, ../scss/_link_block.scss */
.link-block .link-list .link-item img {
  width: 50px;
  margin-left: 20px;
}
/* line 27, ../scss/_link_block.scss */
.link-block .link-list .link-item p {
  margin: auto;
  color: white;
  font-weight: bold;
}
/* line 33, ../scss/_link_block.scss */
.link-block .link-list .link-item:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 840px) {
  /* line 42, ../scss/_link_block.scss */
  .link-block .link-list {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 47, ../scss/_link_block.scss */
  .link-block .link-item {
    width: calc((100% - 65px)/2) !important;
    margin-bottom: 20px !important;
  }
  /* line 50, ../scss/_link_block.scss */
  .link-block .link-item:nth-of-type(2n) {
    margin-right: 0;
  }
  /* line 54, ../scss/_link_block.scss */
  .link-block .link-item img {
    margin-left: 0 !important;
    width: 25px !important;
  }
  /* line 59, ../scss/_link_block.scss */
  .link-block .link-item p {
    font-size: 14px;
  }
}
/* line 2, ../scss/_blog_block.scss */
.blog-block .show-all-blog {
  text-align: right;
}
/* line 5, ../scss/_blog_block.scss */
.blog-block .show-all-blog:after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  position: relative;
  border: 2px solid;
  border-color: #058305 #058305 transparent transparent;
  transform: translateX(50%) rotate(45deg);
}
/* line 17, ../scss/_blog_block.scss */
.blog-block .blog-inner {
  display: flex;
}
/* line 20, ../scss/_blog_block.scss */
.blog-block .blog-inner a {
  text-decoration: none;
  color: black;
}
/* line 26, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner-pic:hover {
  opacity: 0.7;
}
/* line 31, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__left {
  width: 50%;
  margin-right: 20px;
}
/* line 36, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner-info {
  padding: 10px;
}
/* line 39, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner-info .blog-inner-title {
  font-weight: bold;
}
/* line 43, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner-info .blog-inner-date {
  opacity: 0.6;
}
/* line 48, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right {
  width: 50%;
}
/* line 51, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right .blog-inner-list {
  display: flex;
  flex-wrap: wrap;
}
/* line 56, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right .blog-inner-item {
  width: calc((100% - 20px)/2);
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 61, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right .blog-inner-item .blog-inner-info {
  background: #f7f7f9;
}
/* line 64, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right .blog-inner-item .blog-inner-info .blog-inner-title {
  font-size: 14px;
}
/* line 69, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right .blog-inner-item .blog-inner-pic {
  height: 200px;
}
/* line 73, ../scss/_blog_block.scss */
.blog-block .blog-inner .blog-inner__right .blog-inner-item:nth-of-type(2n) {
  margin-bottom: 20px;
  margin-right: 0;
}

@media only screen and (max-width: 840px) {
  /* line 84, ../scss/_blog_block.scss */
  .blog-block .blog-inner {
    margin-top: 20px;
    display: block;
  }
  /* line 88, ../scss/_blog_block.scss */
  .blog-block .blog-inner .blog-inner__left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  /* line 95, ../scss/_blog_block.scss */
  .blog-block .blog-inner .blog-inner__bottom .blog-inner-pic {
    float: left;
    width: 120px;
    height: 100px;
  }
  /* line 101, ../scss/_blog_block.scss */
  .blog-block .blog-inner .blog-inner__bottom .blog-inner-list {
    display: flex;
    flex-direction: column;
  }
  /* line 105, ../scss/_blog_block.scss */
  .blog-block .blog-inner .blog-inner__bottom .blog-inner-list .blog-inner-info {
    background: #f7f7f9;
    padding: 10px;
    height: 80px;
    display: flex;
    flex-direction: column;
  }
}
/* line 2, ../scss/_district_block.scss */
.district-block .district-inner {
  display: flex;
}
/* line 5, ../scss/_district_block.scss */
.district-block .district-inner .district-list {
  margin: 30px 0;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
/* line 11, ../scss/_district_block.scss */
.district-block .district-inner .district-list .district-item {
  margin: 10px;
  width: calc((100% - 90px)/3);
}
/* line 15, ../scss/_district_block.scss */
.district-block .district-inner .district-list .district-item a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
/* line 22, ../scss/_district_block.scss */
.district-block .district-inner .district-list .district-item:hover a {
  color: #058305;
}
/* line 30, ../scss/_district_block.scss */
.district-block .subscribe-form {
  width: 30%;
  text-align: center;
  border: 2px solid #058305;
}
/* line 35, ../scss/_district_block.scss */
.district-block .subscribe-form .form-title {
  line-height: 1.5;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  background-color: #058305;
}
/* line 44, ../scss/_district_block.scss */
.district-block .subscribe-form .form-content {
  padding: 20px;
  display: inline-grid;
}
/* line 48, ../scss/_district_block.scss */
.district-block .subscribe-form .form-content input {
  height: 40px;
  font-size: smaller;
  margin-bottom: 15px;
  border: 1px solid #058305;
  text-align: center;
}
/* line 56, ../scss/_district_block.scss */
.district-block .subscribe-form .form-content button {
  height: 40px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  border: 1px solid #058305;
  text-align: center;
  background-color: #058305;
  font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (max-width: 840px) {
  /* line 73, ../scss/_district_block.scss */
  .district-block .district-inner {
    margin-top: 20px;
    display: block;
  }
  /* line 78, ../scss/_district_block.scss */
  .district-block .district-inner .district-list {
    width: 100%;
    margin-right: 0;
  }
  /* line 84, ../scss/_district_block.scss */
  .district-block .subscribe-form {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* line 1, ../scss/advisory.scss */
.advisory-inner {
  display: flex;
  flex-wrap: wrap;
}
/* line 5, ../scss/advisory.scss */
.advisory-inner .advisory-card {
  width: calc((100% - 80px)/2);
  margin-bottom: 40px;
  margin-right: 40px;
  background-color: #efefef;
  padding: 10px;
}
/* line 12, ../scss/advisory.scss */
.advisory-inner .advisory-card:nth-of-type(2n) {
  margin-right: 0;
}
/* line 16, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header {
  display: inline-flex;
}
/* line 19, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header .advisory-card-pic {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
/* line 25, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header .advisory-card-info {
  line-height: 1.5em;
  margin-left: 10px;
}
/* line 30, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header .advisory-name {
  font-size: 24px;
  opacity: 0.7;
}
/* line 35, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header .advisory-position {
  color: #058305;
}
/* line 40, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header .social-icon img {
  width: 25px;
  filter: grayscale(100%);
}
/* line 44, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-header .social-icon img:hover {
  filter: none;
}
/* line 51, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-contact {
  line-height: 2.5em;
}
/* line 54, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-contact .advisory-contact-item {
  width: 100%;
  display: inline-block;
}
/* line 58, ../scss/advisory.scss */
.advisory-inner .advisory-card .advisory-card-contact .advisory-contact-item .fa {
  width: 20px;
  margin-right: 20px;
  color: #058305;
}
/* line 66, ../scss/advisory.scss */
.advisory-inner .advisory-card hr {
  display: inline-block;
  border-color: #058305;
  width: 100px;
}

@media only screen and (max-width: 840px) {
  /* line 75, ../scss/advisory.scss */
  .advisory-inner {
    flex-direction: column;
  }
  /* line 78, ../scss/advisory.scss */
  .advisory-inner .advisory-card {
    width: 100%;
    margin-right: 0;
  }
}
/* line 1, ../scss/legal_records.scss */
.legal-block {
  display: flex;
  flex-wrap: column wrap;
}
/* line 5, ../scss/legal_records.scss */
.legal-block h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 10, ../scss/legal_records.scss */
.legal-block .legal-inner {
  width: 70%;
}
/* line 13, ../scss/legal_records.scss */
.legal-block .legal-inner h1 {
  color: #058305;
  font-weight: bold;
}
/* line 18, ../scss/legal_records.scss */
.legal-block .legal-inner .legal-item-titel {
  font-weight: bold;
}
/* line 21, ../scss/legal_records.scss */
.legal-block .legal-inner .legal-item-date {
  opacity: 0.7;
}
/* line 25, ../scss/legal_records.scss */
.legal-block .legal-inner .legal-item-description {
  opacity: 0.8;
}
/* line 29, ../scss/legal_records.scss */
.legal-block .legal-inner .special-legal-content {
  display: flex;
  flex-wrap: wrap;
}
/* line 33, ../scss/legal_records.scss */
.legal-block .legal-inner .special-legal-content .special-legal-item {
  width: calc(50% - 20px);
  padding: 10px;
}
/* line 37, ../scss/legal_records.scss */
.legal-block .legal-inner .special-legal-content .special-legal-item .special-legal-item-pic {
  height: 250px;
  margin-bottom: 10px;
}
/* line 44, ../scss/legal_records.scss */
.legal-block .legal-inner .common-legal-content {
  width: 100%;
}
/* line 47, ../scss/legal_records.scss */
.legal-block .legal-inner .common-legal-content .common-legal-item {
  display: flex;
  padding: 10px;
}
/* line 51, ../scss/legal_records.scss */
.legal-block .legal-inner .common-legal-content .common-legal-item .common-legal-item-pic {
  width: 30%;
}
/* line 55, ../scss/legal_records.scss */
.legal-block .legal-inner .common-legal-content .common-legal-item .legal-item-info {
  padding: 20px;
  margin: auto;
}
/* line 63, ../scss/legal_records.scss */
.legal-block .news-inner {
  width: 30%;
}
/* line 66, ../scss/legal_records.scss */
.legal-block .news-inner .news-content {
  padding: 10px;
}
/* line 68, ../scss/legal_records.scss */
.legal-block .news-inner .news-content .news-item {
  display: flex;
}
/* line 71, ../scss/legal_records.scss */
.legal-block .news-inner .news-content .news-item img {
  width: 30%;
}
/* line 75, ../scss/legal_records.scss */
.legal-block .news-inner .news-content .news-item .news-info {
  padding: 10px;
  margin: auto;
}
/* line 79, ../scss/legal_records.scss */
.legal-block .news-inner .news-content .news-item .news-info .news-item-titel {
  opacity: 0.7;
  font-weight: bold;
}
/* line 84, ../scss/legal_records.scss */
.legal-block .news-inner .news-content .news-item .news-info .news-item-date {
  font-size: 14px;
  opacity: 0.7;
}
/* line 92, ../scss/legal_records.scss */
.legal-block .news-inner .subscribe-form {
  display: flex;
}
/* line 95, ../scss/legal_records.scss */
.legal-block .news-inner .subscribe-form input {
  width: 70%;
  font-size: 22px;
  padding-left: 10px;
}
/* line 101, ../scss/legal_records.scss */
.legal-block .news-inner .subscribe-form button {
  width: 30%;
  background-color: #058305;
  border: 1px solid #058305;
  font-size: 19px;
  color: white;
}
/* line 111, ../scss/legal_records.scss */
.legal-block .news-inner .article-content .article-item {
  display: flex;
}
/* line 114, ../scss/legal_records.scss */
.legal-block .news-inner .article-content .article-item img {
  width: 30%;
}
/* line 118, ../scss/legal_records.scss */
.legal-block .news-inner .article-content .article-item .article-info {
  padding: 10px;
  opacity: 0.8;
}
/* line 122, ../scss/legal_records.scss */
.legal-block .news-inner .article-content .article-item .article-info .article-price {
  color: #058305;
  font-weight: bold;
  margin-right: 10px;
}
/* line 128, ../scss/legal_records.scss */
.legal-block .news-inner .article-content .article-item .article-info .article-district {
  opacity: 0.6;
}

/* line 137, ../scss/legal_records.scss */
.pagination {
  margin-left: 30px;
}
/* line 140, ../scss/legal_records.scss */
.pagination ul {
  display: inline-flex;
  font-size: 24px;
}
/* line 144, ../scss/legal_records.scss */
.pagination ul li {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #969696;
}
/* line 152, ../scss/legal_records.scss */
.pagination ul li.active {
  background-color: #058305;
  color: white;
}
/* line 157, ../scss/legal_records.scss */
.pagination ul li.next-page {
  border: 1px solid #dcdcdc;
}
/* line 160, ../scss/legal_records.scss */
.pagination ul li.next-page:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  left: -4px;
  border: 2px solid;
  border-color: #dcdcdc #dcdcdc transparent transparent;
  transform: rotate(45deg);
}

@media only screen and (max-width: 840px) {
  /* line 178, ../scss/legal_records.scss */
  .legal-block .legal-inner {
    width: 100%;
  }
  /* line 181, ../scss/legal_records.scss */
  .legal-block .legal-inner .special-legal-content {
    flex-direction: column;
  }
  /* line 184, ../scss/legal_records.scss */
  .legal-block .legal-inner .special-legal-content .special-legal-item {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  /* line 193, ../scss/legal_records.scss */
  .legal-block .legal-inner .common-legal-content .common-legal-item {
    padding: 0;
    margin-bottom: 20px;
  }
  /* line 199, ../scss/legal_records.scss */
  .legal-block .legal-inner .pagination {
    margin-left: 0;
    text-align: center;
  }
}
/* line 1, ../scss/contact.scss */
.contact-block {
  display: flex;
  flex-wrap: wrap;
}
/* line 5, ../scss/contact.scss */
.contact-block h2 {
  font-size: 22px;
  font-weight: bold;
  color: #535353;
}
/* line 11, ../scss/contact.scss */
.contact-block .contact-form {
  width: 70%;
}
/* line 14, ../scss/contact.scss */
.contact-block .contact-form form {
  padding-right: 20px;
}
/* line 18, ../scss/contact.scss */
.contact-block .contact-form .row {
  display: flex;
}
/* line 21, ../scss/contact.scss */
.contact-block .contact-form .row input {
  margin-right: 10px;
  width: calc((100% - 10px)/2);
  font-size: 22px;
  line-height: 1.5em;
  padding-left: 10px;
}
/* line 28, ../scss/contact.scss */
.contact-block .contact-form .row input:nth-of-type(2) {
  margin-right: 0;
}
/* line 34, ../scss/contact.scss */
.contact-block .contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 22px;
  resize: none;
  line-height: 1.5em;
  padding-left: 10px;
}
/* line 43, ../scss/contact.scss */
.contact-block .contact-form button {
  background-color: #058305;
  border: 1px solid #058305;
  font-size: 22px;
  padding: 10px;
  color: white;
}
/* line 52, ../scss/contact.scss */
.contact-block .contact-info {
  width: 30%;
}
/* line 55, ../scss/contact.scss */
.contact-block .contact-info .footer-contact {
  padding-left: 0;
}

@media only screen and (max-width: 840px) {
  /* line 62, ../scss/contact.scss */
  .contact-block {
    display: block;
  }
  /* line 66, ../scss/contact.scss */
  .contact-block .contact-form {
    width: 100%;
    margin-bottom: 20px;
  }
  /* line 70, ../scss/contact.scss */
  .contact-block .contact-form form {
    padding-right: 0;
  }
  /* line 73, ../scss/contact.scss */
  .contact-block .contact-form form input {
    border: 1px solid #9c9c9c;
  }
  /* line 77, ../scss/contact.scss */
  .contact-block .contact-form form textarea {
    border: 1px solid #9c9c9c;
  }
  /* line 83, ../scss/contact.scss */
  .contact-block .contact-info {
    width: 100%;
  }
}
/* line 1, ../scss/_select_box.scss */
.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  color: #60666d;
}
/* line 22, ../scss/_select_box.scss */
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 10px 0 0 10px;
  border: 1px solid #058305;
}
/* line 31, ../scss/_select_box.scss */
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
/* line 38, ../scss/_select_box.scss */
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
/* line 43, ../scss/_select_box.scss */
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
/* line 49, ../scss/_select_box.scss */
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
/* line 59, ../scss/_select_box.scss */
.select-box__value {
  display: flex;
}
/* line 63, ../scss/_select_box.scss */
.select-box__input {
  display: none;
}
/* line 66, ../scss/_select_box.scss */
.select-box__input:checked + .select-box__input-text {
  display: block;
}
/* line 71, ../scss/_select_box.scss */
.select-box__input-text {
  border-radius: 10px 0 0 10px;
  display: none;
  width: 100%;
  margin: 0;
  padding: 12px;
  background-color: #fff;
}
/* line 80, ../scss/_select_box.scss */
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  z-index: 9;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
/* line 101, ../scss/_select_box.scss */
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
/* line 106, ../scss/_select_box.scss */
.select-box__option:hover, .select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
/* line 2, ../scss/article_show.scss */
.article-show-block .for-mobile {
  display: none;
}
/* line 8, ../scss/article_show.scss */
.article-show-block .search-article-show .search-input {
  margin-bottom: 10px;
}
/* line 12, ../scss/article_show.scss */
.article-show-block .search-article-show .search_advance {
  width: 70%;
  margin: auto;
  color: #535353;
}
/* line 18, ../scss/article_show.scss */
.article-show-block .search-article-show .article-search {
  border-radius: 0;
  border-left: none;
}
/* line 25, ../scss/article_show.scss */
.article-show-block .article-order .select-box {
  width: 30%;
  margin-right: 0;
  margin-left: auto;
}
/* line 30, ../scss/article_show.scss */
.article-show-block .article-order .select-box__current {
  border-radius: 10px;
  border: 1px solid #535353;
}
/* line 35, ../scss/article_show.scss */
.article-show-block .article-order .select-box__input-text {
  border-radius: 10px;
}
/* line 41, ../scss/article_show.scss */
.article-show-block .article-detail {
  display: inline-flex;
}
/* line 44, ../scss/article_show.scss */
.article-show-block .article-detail .article-info {
  width: 70%;
}
/* line 47, ../scss/article_show.scss */
.article-show-block .article-detail .article-info .main-pic {
  width: 100%;
  height: 500px;
  display: flex;
  background-color: #535353;
}
/* line 53, ../scss/article_show.scss */
.article-show-block .article-detail .article-info .main-pic img {
  margin: auto;
  width: 100%;
}
/* line 59, ../scss/article_show.scss */
.article-show-block .article-detail .article-info .sub-pic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* line 64, ../scss/article_show.scss */
.article-show-block .article-detail .article-info .sub-pic img {
  margin-right: 10px;
  width: calc((100% - 30px)/4);
  height: 150px;
}
/* line 69, ../scss/article_show.scss */
.article-show-block .article-detail .article-info .sub-pic img:nth-of-type(4) {
  margin-right: 0;
}
/* line 76, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info {
  width: 30%;
  padding-left: 20px;
}
/* line 80, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info h2, .article-show-block .article-detail .expert-info h1 {
  font-size: 22px;
  color: #058305;
}
/* line 85, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info .expert-contact {
  display: flex;
  align-items: center;
}
/* line 89, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info .expert-contact img {
  width: 100px;
  border-radius: 50px;
}
/* line 94, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info .expert-contact .contact-content {
  font-size: 22px;
  color: #535353;
  margin-left: 20px;
}
/* line 102, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info form input {
  margin-right: 10px;
  width: 100%;
  font-size: 22px;
  line-height: 1.5em;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px solid #535353;
}
/* line 112, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info form textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 22px;
  resize: none;
  line-height: 1.5em;
  padding-left: 10px;
  border: 1px solid #535353;
}
/* line 122, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info form button {
  width: 100%;
  background-color: #058305;
  border: 1px solid #058305;
  font-size: 22px;
  padding: 10px;
  color: white;
}
/* line 132, ../scss/article_show.scss */
.article-show-block .article-detail .expert-info ul {
  line-height: 2em;
}
/* line 138, ../scss/article_show.scss */
.article-show-block .article-description {
  font-size: 20px;
}
/* line 140, ../scss/article_show.scss */
.article-show-block .article-description .article-title {
  font-weight: bold;
}
/* line 144, ../scss/article_show.scss */
.article-show-block .article-description .article-address {
  color: #535353;
}
/* line 148, ../scss/article_show.scss */
.article-show-block .article-description .article-pricess {
  color: #058305;
  margin-right: 30px;
  font-weight: bold;
}
/* line 154, ../scss/article_show.scss */
.article-show-block .article-description .article-acreage {
  color: #535353;
}
/* line 158, ../scss/article_show.scss */
.article-show-block .article-description .house-detail {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 16px;
  color: #535353;
}
/* line 163, ../scss/article_show.scss */
.article-show-block .article-description .house-detail p {
  margin-bottom: 10px;
}
/* line 166, ../scss/article_show.scss */
.article-show-block .article-description .house-detail span {
  font-weight: bold;
}
/* line 172, ../scss/article_show.scss */
.article-show-block .article-note {
  color: #535353;
}
/* line 175, ../scss/article_show.scss */
.article-show-block .article-note h1 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #058305;
  display: inline-block;
}
/* line 182, ../scss/article_show.scss */
.article-show-block .article-note p {
  white-space: pre-line;
}
/* line 189, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block {
  position: relative;
}
/* line 192, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block .slide-prev, .article-show-block .article-recommend .article-block .slide-next {
  padding: 15px;
  background-color: white;
  border-radius: 100px;
}
/* line 197, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block .slide-prev:after, .article-show-block .article-recommend .article-block .slide-next:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  left: 10px;
  top: -9px;
  position: relative;
  border: 3px solid;
  border-color: #535353 #535353 transparent transparent;
  transform: translateY(50%) rotate(45deg);
}
/* line 211, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block .slide-prev {
  position: absolute;
  left: -20px;
  top: 35%;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
/* line 217, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block .slide-prev:after {
  left: 4px;
  transform: translateY(50%) rotate(225deg);
}
/* line 223, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block .slide-next {
  position: absolute;
  right: -20px;
  top: 35%;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
/* line 229, ../scss/article_show.scss */
.article-show-block .article-recommend .article-block .slide-next:after {
  left: -1px;
  top: -8px;
}
/* line 236, ../scss/article_show.scss */
.article-show-block .article-recommend .pagination {
  margin-left: 0;
  text-align: center;
}

@media only screen and (max-width: 840px) {
  /* line 245, ../scss/article_show.scss */
  .article-show-block .for-mobile {
    display: block;
  }
  /* line 249, ../scss/article_show.scss */
  .article-show-block .article-detail {
    display: flex;
    flex-direction: column;
  }
  /* line 253, ../scss/article_show.scss */
  .article-show-block .article-detail .article-info {
    width: 100%;
  }
  /* line 257, ../scss/article_show.scss */
  .article-show-block .article-detail .expert-info {
    width: 100%;
    padding-left: 0;
  }
  /* line 265, ../scss/article_show.scss */
  .article-show-block .article-recommend .article-block .slide-prev, .article-show-block .article-recommend .article-block .slide-next {
    display: none;
  }
  /* line 269, ../scss/article_show.scss */
  .article-show-block .article-recommend .article-block .article-item:nth-of-type(-n+5) {
    display: block;
  }
  /* line 275, ../scss/article_show.scss */
  .article-show-block .article-recommend .pagination ul {
    font-size: 18px;
  }
  /* line 278, ../scss/article_show.scss */
  .article-show-block .article-recommend .pagination ul li {
    width: 15px;
    height: 15px;
  }
}
/* line 42, ../scss/styles.scss */
.container {
  margin: 0 30px;
}

/* line 46, ../scss/styles.scss */
.breadcrumb {
  background-color: #dedbdb;
  padding: 10px;
}

/* line 51, ../scss/styles.scss */
.mg-b-10 {
  margin-bottom: 10px;
}

/* line 55, ../scss/styles.scss */
.mg-b-20 {
  margin-bottom: 20px;
}

/* line 59, ../scss/styles.scss */
.mg-b-30 {
  margin-bottom: 30px;
}

/* line 63, ../scss/styles.scss */
.mg-b-40 {
  margin-bottom: 40px;
}

/* line 67, ../scss/styles.scss */
.mg-b-50 {
  margin-bottom: 50px;
}

/* line 71, ../scss/styles.scss */
.mg-b-60 {
  margin-bottom: 60px;
}

/* line 75, ../scss/styles.scss */
.mg-b-70 {
  margin-bottom: 70px;
}

/* line 79, ../scss/styles.scss */
.mg-b-80 {
  margin-bottom: 80px;
}
