.link-block {
  display: flex;

  .link-list {
    width: 100%;
    display: inline-flex;

    .link-item {
      display: flex;
      padding: 10px;
      margin: 0 20px 0 0;
      cursor: pointer;
      width: calc((100% - 60px)/4);
      border: 1px solid $gree;
      background: $gree;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      &:nth-of-type(4n){
        margin: 0;
      }

      img {
        width: 50px;
        margin-left: 20px;
      }

      p {
        margin: auto;
        color: white;
        font-weight: bold;

      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media #{$size840} {
  .link-block {
    .link-list {
      display: flex;
      flex-wrap: wrap;
    }

    .link-item {
      width: calc((100% - 65px)/2) !important;
      margin-bottom: 20px !important;
      &:nth-of-type(2n){
        margin-right: 0;
      }

      img {
        margin-left: 0 !important;
        width: 25px !important;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
